
$color-orange: #FF8900;
$color-dark-grey: #58585a;
$color-grey-1: #bababa;
$color-white: #fff;
$color-white-2: #f9f9f9;
$color-white-3: #ebebeb;
$color-green: #43a92d;
$color-green-2: #3a8f24;

$color-dark-1: #263238;
$color-dark-2: #374850;
$color-dark-3: #48626a;


$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	border-radius: $radius;
	background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

img {
	max-width: 100%;
}

.no-padding {
	padding: 0 !important;
}

.no-padding-right {
	padding-right: 0 !important;

	@media (max-width: $screen-sm) {
		padding: 0 !important;
	}
}

.no-padding-left {
	padding-left: 0 !important;

	@media (max-width: $screen-sm) {
		padding: 0 !important;
	}
}

.no-padding-right-all {
	padding-right: 0 !important;

}

.no-padding-left-all {
	padding-left: 0 !important;
}


/*--------------------------------------
	General
---------------------------------------*/
body {
	background-color: #263238;
}


/*--------------------------------------
	Top Wrapper
---------------------------------------*/
.top-wrapper {
	background-color: #263238;
	background-image: url(../../images/60-lines.png)

	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

/*--------------------------------------
	Header
---------------------------------------*/
header {
	background-color: $color-white-2;
	border-bottom: 1px solid $color-white-3;
	.top {
		.logo {
			@media (max-width: $screen-xs) {
				text-align: center;
			}
			img {
				width: 13em;
				margin: 1em 0;
			}
		}

		.search {
			text-align: right;
			label {
				width: 100%;
				padding: 1em 0;

				input {
					background:rgba(0,0,0,.4);
					width: 100%;
					height: 45px;
					padding-left: 1em;
					border: 1px solid #6f8794;
					-webkit-box-shadow: none;
					box-shadow: none;
					color: $color-grey-1;
				}

				button.btn {
					background-color: $color-dark-1;
					height: 45px;
					color: $color-white-3;
					display: block;
					width: 100%;
					border: 1px solid #82a5b2;
					border-left: none;

					@include border-radius(0);

					&:hover {
						background-color: $color-dark-3;
					}

					img {
						width: 1.25em;
						margin-right: .5em;
						margin-top: -.1em;
					}
				}
			}
		}

		.navigation-list {
			nav.navbar {
				background: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				margin: 0;
				padding: 0;
				min-height: auto;
				@include border-radius(0);

				.navbar-header {
					background-color: rgba(0,0,0,.2);
					@media (max-width: $screen-sm) {
						background-color: $color-dark-1;
					}

					button {
						margin: 0;
						color: $color-white-3;
						font-weight: 600;

						img {
							width: 1.3em;
							margin-top: -.15em;
							margin-right: .5em;
						}
					}
				}

				.navbar-collapse {
					@media (max-width: 1450px) {
						padding-left: 0 !important;
					}

					@media (max-width: $screen-xs) {
						padding-right: 0 !important
					}
				}

				ul.nav {

					@media (max-width: 1450px) {
						float: left !important;
					}

					@media (max-width: $screen-xs) {
						background-color: $color-dark-1;
						float: none !important;
						margin-top: 0;
						margin-bottom: 0;

					}

					margin: 1.6em 0;
					li {
						text-transform: uppercase;
						a {
							color: rgba($color-dark-3, .8);
							font-weight: 600;
							padding: .3em .7em;

							img {
								width: 1.2em;
								margin-top: -.2em;
								margin-right: .5em;
							}

							@media (max-width: 1450px) {
								padding: .3em;
								font-size: .9em;
							}

							@media (max-width: $screen-sm) {
								color: $color-dark-2;
							}

							@media (max-width: $screen-xs) {
								padding: .7em;
								color: $color-white;
							}

							&:hover {
								color: $color-dark-1;
								background-color: $color-white-3;
							}
						}
					}
				}
			}
		}

		.profile-info {
			nav.navbar {
				background: none;
				-webkit-box-shadow: none;
				box-shadow: none;
				margin: 0;
				padding: 0;
				min-height: auto;
				@include border-radius(0);

				.navbar-header {
					background-color: rgba(0,0,0,.2);
					margin-top: .5em;

					button {
						margin: 0;
						color: $color-white-3;
						font-weight: 600;

						img {
							width: 1.3em;
							margin-top: -.15em;
							margin-right: .5em;
						}
					}
				}

				.navbar-collapse {
					@media (max-width: $screen-xs) {
						padding: 0;
					}
				}

				ul.nav {
					margin: 1.6em 0;

					@media (max-width: $screen-xs) {
						background-color: $color-dark-1;
						float: none !important;
						margin-top: 0;
						margin-bottom: 0;

					}

					li {

						a {
							color: rgba($color-dark-3, .8);
							font-weight: 600;
							padding: .3em .7em;

							@media (max-width: 1450px) {
								padding: .3em;
								font-size: .9em;
							}

							@media (max-width: 768px) {
								color: $color-white-2 !important;
							}

							@media (max-width: $screen-xs) {
								padding: .7em;
							}


							&:hover {
								color: $color-white;
								background-color: $color-dark-3;
							}

							img {
								width: 1.3em;
								margin-right: .4em;
								margin-top: -.2em;
							}
						}

						&.dropdown {
							ul.dropdown-menu {
								background-color: $color-dark-1;

								li {

									a {
										font-weight: 400;
										padding: .5em 1em;

										&:hover {
											background-color: $color-dark-2;
										}
									}
								}
							}
						}

						&.open {
							a {
								background-color: $color-dark-1;
							}
						}
					}
				}
			}
		}
	}
}

footer {
	background-color: #EBEBEB;
	border-top: 1px solid #cdcdcd;
	padding: 1em;


	ul {
		margin: 1em 0 2em 0;
		padding: 0;
		list-style-type: none;
		text-align: center;


		li {
			font-weight: bold;
			display: inline-block;
			a {
				color: $color-dark-grey;
				display: block;
				width: 100%;
				margin: 0 .5em;

				&:hover {
					text-decoration: none;
					color: #000;
				}
			}
		}
	}



	.bottom-footer {
		background-color: #f1f1f1;
		padding: 1em 0;

		p {
			margin: 0;
			text-align: justify;
			font-size: .9em;
			padding: 1em;
			color: #a7a7a7;
		}

		.credits {
			text-align: center;
			padding: .5em 0;

			@media (max-width: $screen-md) {
				text-align: center;
			}

			img {
				max-width: 15em;
				margin: 0 0 .5em 0;
				padding: 0;
			}

			p {
				text-align: center;
				margin: 0;
			}
		}
	}
}

/*--------------------------------------
	Page Get Started Page
---------------------------------------*/
.get-started-page {
	.intro-container {
		h1 {
			color: $color-white;
			font-weight: 600;
			text-align: center;padding: 2em 0 1em 0;
			line-height: 1.4em;
			font-size: 2.8em;

			span {
				border-bottom: 4px solid $color-orange;
			}
		}
	}

	.intro-box {
		background-color: $color-dark-1;
		margin-bottom: 3em;

		.header {
			padding: 1em;
			border-bottom: 1px solid $color-dark-3;
			p {
				font-size: 2em;
				text-align: center;
				color: $color-white-3;
				margin: 0;
				line-height: 1em;
			}

			p.sub {
				font-size: 1.3em;
				margin-top: 1em;
			}
		}

		.body {
			padding: 1em;
			text-align: center;
			border-bottom: 1px solid $color-dark-3;
			p {
				font-size: 1.8em;
				line-height: 1.5em;
				color: $color-white-3;
				font-weight: 300;

				span {
					font-weight: 400;
				}
			}
		}

		.footer {
			padding: 1em;
			text-align: center;

			p {
				font-size: 2em;
				line-height: 1.5em;
				color: $color-white-3;
				font-weight: 600;
				display: inline-block;
				border-bottom: 3px solid $color-orange;
				margin: 0;
				span {
					font-weight: 400;
				}
			}
		}
	}

	.section {
		padding: 3em 0 3em 0;
		.section-title {
			text-align: center;
			h2 {
				font-weight: 600;
				font-size: 2.3em;
				margin-bottom: .5em;
			}

			p.sub {
				font-size: 1.6em;
				margin-top: 0;
				line-height: 1em;
				color: #000;
			}
		}
	}

	.why-promote {
		background-color: $color-white;

		ul.checklist {
			list-style-type: none;
			margin: 0;
			padding: 5em 0;
			li {
				font-size: 1.2em;
				color: #000;
				margin-bottom: .2em;

				img {
					width: 1.1em;
					margin-top: -.2em;
					margin-right: .5em;
				}
			}
		}

		.report-sample {
			padding: 4em 0;
			text-align: center;

			h5 {
				a {
					color: $color-dark-1;
					border-bottom: 2px solid $color-dark-2;

					&:hover {
						text-decoration: none;
						color: $color-dark-3;
						border-bottom: 2px solid $color-dark-3;
					}
				}
			}
		}
	}

	.customers-love {
		background: url(../../images/bg-testimonials.jpg) center center fixed;
		-webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;

		.section-title {
			margin-bottom: 5em;
			h2 {
				color: $color-white;
			}
		}

		.element {
			margin-bottom: 1em;

			blockquote {
				background-color: #fff;
				padding: 2em 1em;
				margin: 0;
				border: none;
				@include border-radius(3px);
				position: relative;

				img {
					position: absolute;
					bottom: -1.2em;
					right: 1em;
				}

			}

			.author {
				text-align: right;

				h5 {
					text-align: right;
					color: $color-white;
					font-size: 1.3em;
					margin-top: 1em;
					display: inline-block;
				}
			}
		}
	}

	.comprehensive-vehicle-history {
		background-color: $color-white-2;
		background-image: url(../../images/60-lines.png);

		.body {

			background-color: $color-white;
			border:1px solid #e6e6e6;
			border-bottom: 1px solid $color-green;
			margin-top: 1em;

			.top {
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 1em;
				h4 {
					font-weight: 600;
					font-size: 1.6em;
					display: inline-block;
					border-bottom: 3px solid $color-green;
					padding-bottom: .2em;
				}
			}

			.main {
				ul {
					margin:0;
					padding: 1em;
					list-style-type: none;

					li {
						margin-bottom: .8em;
						font-size: 1em;

						img {
							width: 1.4em;
							margin-right: .5em;
							clear: both;
							display: inline-block;
						}
					}
				}
			}
		}
	}

	.sales-funnel {
		.section-title {
			h2 {
				color:$color-white;
			}

			p.note {
				font-size: 1.1em;
				margin: 0;
				color: $color-grey-1;
				background-color: $color-dark-2;
				display:inline-block;
				padding: .5em;
				border:1px solid $color-dark-3;

				span {
					color: $color-white;
				}

				a {
					color: $color-white;
					text-decoration: underline;
				}
			}
		}

		.element {
			text-align: center;
			margin: 5em 0;
			position: relative;

			@media (max-width: $screen-sm) {
				margin: 2em;
			}

			img {
				width: 8em;
			}

			img.next-step {
				position: absolute;
				right: -3.5em;
				top: 3em;
				width: 5em;
				opacity: .2;
			}

			img.next-step-small {
				width: 5em;
				margin-top: 1em;
			}

			h3 {
				color: $color-white-2;
				font-size: 1.8em;
			}

			p {
				color: $color-white-3;
			}
		}
	}

	.affiliate-links {
		background-color: $color-white-2;
		background-image: url(../../images/60-lines.png);

		.section-title {
			p.note {
				background-color: rgba(#eedb00, 0.20);
				border: 1px solid rgba(#eedb00, 0.8);
				padding: 1em;
				font-size: 1.2em;
				color: #000;
				line-height: 1.7em;

				a {
					background-color: rgba(#eedb00, 1);;
					color: #000;
					padding: .3em;
				}
			}
		}

		.body {
			margin-top: 2em;
			text-align: center;

			@media (max-width: $screen-sm) {
				margin-top: 1em;
			}

			.link-element {
				background-color: $color-white;
				padding: .5em;
				border: 1px solid #A4BDF1;
				margin-bottom: 1em;
				position: relative;

				h3 {
					font-size: 1.8em;
				}


				input {
					display: inline-block;
					background-color: #f3f3f3;
					padding: .5em;
					width: 600px;
					max-width: 100%;

				}

				.baloon-content {
					width: 250px;
					background-color: #A4BDF1;
					border: 1px solid rgba( #6699FF, .8);
					display:inline-block;
					position: absolute;
					top: -2.5em;
					right: 10%;
					font-size: 1em;
					padding: .8em;
					color: #000;

					img.down {
						position: absolute;
						bottom: -1em;
						left: .5em;
					}
				}

				.baloon-content-small {
					background-color: #A4BDF1;
					border: 1px solid rgba( #6699FF, .8);
					padding: 1em;
					color: $color-dark-1;
					font-weight: 600;
				}
			}

			.main-affiliate-link {
				background-color: rgba(238, 219, 0, 0.2);
				border: 1px solid rgba(238, 219, 0, 1);
			}
		}
	}

	.affiliate-resources {
		background-color: $color-dark-1;
		background-image: url(../../images/60-lines.png);

		.section-title {
			h2 {
				color: $color-white;
			}
		}


		a {
			&:hover {
				text-decoration: none;
			}
		}

		.element {
			text-align: center;
			margin: 5em 0;
			padding: 1em;
			position: relative;
			background-color: $color-white-2;
			-webkit-transition: .15s ease;
			-moz-transition: .15s ease;
			-o-transition: .15s ease;
			transition: .15s ease;
			@include border-radius(5px);

			@media screen and (min-width: $screen-md) {
				height: 260px;
			}

			img {
				width: 5em;
			}

			h3 {
				color: $color-dark-1;
				font-size: 1.8em;
			}

			p {
				color: $color-dark-grey;
			}

			&:hover {
				background-color: $color-dark-3;
				
				h3 {
					color: $color-white-2;
				}

				p {
					color: $color-white-2;
				}
			}
		}
	}
}

.need-help {
	padding: 3em 0 3em 0;
	background-color: $color-white-2;
	border-top: 1px solid $color-dark-2;
	margin-top: 1em;

	.title{
		text-align: center;

		p {
			color: $color-dark-grey;
			font-weight: 600;
			text-transform: uppercase;
			margin: .3em 0 0 0 ;
			font-size: 2em;
		}
	}

	.btn-container {
		text-align: left;

		.btn {
			padding: 1em;
			text-transform: none;
			font-weight: 600;
			display: block;
			width: 100%;
		}
	}


	p {
		color: $color-grey-1;
		line-height: 1.3em;
		margin-top: .5em;
		text-align: center;
		margin-top: 1em;;
	}

	p.long-text {
		color: $color-dark-1;
		font-size: 1.2em;
	}
}

.page {
	.page-title {
		text-align: center;
		margin-top: 1em;
		margin-bottom: 1em;

		h1 {
			color: $color-white;
			font-weight: 600;
			font-size: 2.3em;
			display: inline-block;
			border-bottom: 3px solid $color-orange;
			padding-bottom: .1em;
		}
	}

	.top {
		h2 {
			margin-top: 0;
		}
	}

	.disclaimer {
		background-color: $color-dark-2;
		border: 1px solid $color-dark-3;
		padding: .4em 1em;

		h4 {
			color: #fff;
			font-weight: 600;
			font-size: 1.3em;
		}

	}
}

.support-page {
	.disclaimer {
		background-color: $color-dark-2;
		border: 1px solid $color-dark-3;
		padding: .4em 1em;

		p.span {
			color: #fff;
			font-weight: 600;
			font-size: 1.6em;
			margin-bottom: 0;

		}

		p {
			color: #fff;
			font-size: 1.15em;


			a {
				color: $color-orange;
			}
		}
	}

	form {
		background-color: $color-white;
		padding: 1em;
		margin: 1em 0;

		.form-group {
			label {
				width: 100%;

				span {
					text-align: left;
					font-weight: 600;
				}

				select {
					width: 100%;
					border: 1px solid #dbdbdb;
					height: 45px;
					padding: .5em;
				}

				input {
					width: 100%;
					border: 1px solid rgb(235, 235, 235);
					background-color: $color-white;
					height: 45px;
					padding: .5em;
				}

				textarea {
					width: 100%;
					border: 1px solid #dbdbdb;
					padding: .5em;
				}
			}

			.btn {
				color: $color-white;
				width: 100%;
				padding: .9em;
			}
		}
	}
}

.landing-generator-page {
	.disclaimer {
		margin-bottom: 1em;
		p.code {
			font-weight: 400;
			text-align: center;
			margin: 0;
			padding: 1em;
			line-height: 2em;
			font-size: 1.2em !important;
			color: #fff;

			a {
				color: #fff;;
				font-weight: 400;
				margin-left: 1em;
				background-color: rgba(255,255,255,.1);
				padding: 0 .8em;
				font-size: .8em;
				display: inline-block;

				img {
					width: 1em;
					margin-top: -.30em;
					opacity: .5;
					margin-right: .2em;
				}
			}
		}

		p {
			font-size: 1.1em;
		}
	}

	.top {
		background-color: white;
		padding: 1em;
		border-top: 1px solid $color-white-3;
		border-bottom: 1px solid $color-white-3;
		margin-top: 1.51em;

		h2 {
			font-size: 1.6em;

			span {
				border-bottom:  2px solid $color-orange;
			}
		}
		
		p {
			font-size: 1.15em;
		}
	}

	.form-container {
		background-color: rgba(#ffffff, 1.0);
		padding: 1em;

		.form-group {
			label {
				margin-top: .2em;;
			}

			span {
				text-align: left;
				font-weight: 600;
			}

			select {
				width: 100%;
				border: 1px solid #dbdbdb;
				height: 45px;
				padding: .5em;
			}

			input {
				width: 100%;
				border: 1px solid rgb(235, 235, 235);
				background-color: $color-white;
				height: 45px;
				padding: .5em;

				-webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
				box-shadow: inset 0 -1px 0 #bfbfbf;
			}

			textarea {
				width: 100%;
				border: 1px solid #dbdbdb;
				padding: .5em;
			}

			.btn {
				color: $color-white;
				width: 100%;
				padding: .9em;
			}
		}

		.get-link {
			background-color: rgba(#fff0aa, .3);
			border: 1px solid #E5DA72;
			padding: 1em 0;

			h4 {
				font-size: 1.3em;
				text-align: right;
			}

			input {
				width: 100%;
				border: 1px solid rgb(235, 235, 235);
				background-color: $color-white;
				height: 45px;
				padding: .5em;

				-webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
				box-shadow: inset 0 -1px 0 #bfbfbf;
				margin-bottom: 1em;;
			}

			.btn {
				img {
					width: 1em;
					opacity: .8;
				}
			}
		}
	}

	.get-link {
		background-color: rgba(#fff0aa, .3);
		border: 1px solid #E5DA72;
		padding: 1em 0;

		p {
			text-align: right !important;
			font-size: 1.3em;
			color: #000;
		}
	}

	.all-links {
		.form-group {
			label {
				span {
					span.price {
						border-bottom: 2px solid $color-orange;
					}
				}
			}
			input {
				background-color: #fff;
				color: #c7254e;
			}

			a.visit-link {
				padding: .5em 1em;
				background-color: $color-white-3;
				margin-top: .3em;
				display: inline-block;

				img {
					width: 1em;
					margin-right: .2em;
				}
			}
		}
	}


}

.banner-generator-page {
	 .disclaimer {
		 margin-bottom: 1em;
		 h4.code {
			 font-weight: 400;
			 text-align: center;
			 margin: 0;
			 padding: 1em;

			 a {
				 color: #fff;;
				 font-weight: 400;
				 margin-left: 1em;
				 background-color: rgba(255,255,255,.1);
				 padding: .3em .5em;
				 font-size: .8em;

				 img {
					 width: 1em;
					 margin-top: -.30em;
					 opacity: .5;
					 margin-right: .2em;
				 }
			 }
		 }

		 p {
			 font-size: 1.1em;
		 }
	 }


	 .top {
		 background-color: white;
		 padding: 1em;
		 border-top: 1px solid $color-white-3;
		 border-bottom: 1px solid $color-white-3;
		 margin-top: 1.5em;

		 h2 {
			 font-size: 1.6em;

			 span {
				 border-bottom:  2px solid $color-orange;
			 }
		 }

		 p {
			 font-size: 1.15em;


			 a {
				 color: $color-orange;
			 }
		 }
	 }

	 .form-container {
		 background-color: rgba(#ffffff, 1);
		 padding: 1em;

		 .form-group {
			 label {
				 margin-top: .2em;;
			 }

			 span {
				 text-align: left;
				 font-weight: 600;
			 }

			 select {
				 width: 100%;
				 border: 1px solid #dbdbdb;
				 height: 45px;
				 padding: .5em;
			 }

			 input {
				 width: 100%;
				 border: 1px solid rgb(235, 235, 235);
				 background-color: $color-white;
				 height: 45px;
				 padding: .5em;

				 -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
				 box-shadow: inset 0 -1px 0 #bfbfbf;
			 }

			 textarea {
				 width: 100%;
				 border: 1px solid #dbdbdb;
				 padding: .5em;
			 }

			 .btn {
				 color: $color-white;
				 width: 100%;
				 padding: .9em;
			 }
		 }

		 .get-link {
			 background-color: rgba(#fff0aa, .3);
			 border: 1px solid #E5DA72;
			 padding: 1em 0;

			 p {
				 text-align: right !important;
			 }

			 input {
				 width: 100%;
				 border: 1px solid rgb(235, 235, 235);
				 background-color: $color-white;
				 height: 45px;
				 padding: .5em;

				 -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
				 box-shadow: inset 0 -1px 0 #bfbfbf;
				 margin-bottom: 1em;;
			 }

			 .btn {
				 width: 100%;
				 display: block;

				 img {
					 width: 1em;
					 opacity: .8;
				 }
			 }
		 }
	 }

	 .banner-links {
		 background-color: $color-white;

		 .banner-links-element {
			 padding-top: 3em;
			 padding-bottom: 3em;
			 border-bottom: 1px solid $color-grey-1;

			 &:hover {
				 background-color: $color-white-2;
			 }

			 ul.details {
				 list-style-type:none;
				 padding: 0;
				 margin: 0;

				 li {
					 margin: .5em 0;
					 h3 {
						 font-size: 1.3em;
						 font-weight: 600;
						 margin: 0 0 .65em 0;
					 }

					 span {
						 border-bottom: 2px solid $color-orange;
						 font-weight: 600;
					 }
				 }
			 }

			 .code-rendered {
				 text-align: center;

				 img {

				 }
			 }

			 .code-content {
				 .panel-group {
					 .panel-heading {
						 background: $color-dark-1;
						 text-align: center;
						 padding: 0;

						 a {
							 display: block;
							 padding: 1em;
							 color: $color-white-2;

							 img  {
								 width: 1.6em;
								 margin-top: -.1em;
								 margin-right: .5em;
							 }

							 &:hover {
								 background-color: $color-dark-2;
								 text-decoration: none;
							 }
						 }
					 }
				 }
			 }
		 }
	 }
 }

.searchbox-generator-page {
	.disclaimer {
		margin-bottom: 1em;
		h4.code {
			font-weight: 400;
			text-align: center;
			margin: 0;
			padding: 1em;

			a {
				color: #fff;;
				font-weight: 400;
				margin-left: 1em;
				background-color: rgba(255,255,255,.1);
				padding: .3em .5em;
				font-size: .8em;

				img {
					width: 1em;
					margin-top: -.30em;
					opacity: .5;
					margin-right: .2em;
				}
			}
		}

		p {
			font-size: 1.1em;
		}
	}


	.top {
		background-color: white;
		padding: 1em;
		border-top: 1px solid $color-white-3;
		border-bottom: 1px solid $color-white-3;
		margin-top: 1.5em;

		h2 {
			font-size: 1.6em;

			span {
				border-bottom:  2px solid $color-orange;
			}
		}

		p {
			font-size: 1.15em;

			a {
				color: $color-orange;
			}
		}
	}

	.form-container {
		background-color: rgba(#ffffff, 1);
		padding: 1em;

		.form-group {
			label {
				margin-top: .2em;;
			}

			span {
				text-align: left;
				font-weight: 600;
			}

			select {
				width: 100%;
				border: 1px solid #dbdbdb;
				height: 45px;
				padding: .5em;
			}

			input {
				width: 100%;
				border: 1px solid rgb(235, 235, 235);
				background-color: $color-white;
				height: 45px;
				padding: .5em;

				-webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
				box-shadow: inset 0 -1px 0 #bfbfbf;
			}

			textarea {
				width: 100%;
				border: 1px solid #dbdbdb;
				padding: .5em;
			}

			.btn {
				color: $color-white;
				width: 100%;
				padding: .9em;
			}
		}

		.get-link {
			background-color: rgba(#fff0aa, .3);
			border: 1px solid #E5DA72;
			padding: 1em 0;

			h4 {
				font-size: 1.3em;
				text-align: right;
			}

			input {
				width: 100%;
				border: 1px solid rgb(235, 235, 235);
				background-color: $color-white;
				height: 45px;
				padding: .5em;

				-webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
				box-shadow: inset 0 -1px 0 #bfbfbf;
				margin-bottom: 1em;;
			}

			.btn {
				width: 100%;
				display: block;

				img {
					width: 1em;
					opacity: .8;
				}
			}
		}
	}

	.searchbox-links {
		background-color: $color-white;

		.banner-links-element {
			padding-top: 3em;
			padding-bottom: 3em;
			border-bottom: 1px solid $color-grey-1;

			&:hover {
				background-color: $color-white-2;
			}

			ul.details {
				list-style-type:none;
				padding: 0;
				margin: 0;

				li {
					margin: .5em 0;
					h3 {
						font-size: 1.3em;
						font-weight: 600;
						margin: 0 0 .65em 0;
					}

					span {
						border-bottom: 2px solid $color-orange;
						font-weight: 600;
					}
				}
			}

			.code-rendered {
				text-align: center;

				img {

				}
			}

			.code-content {
				.panel-group {
					.panel-heading {
						background: $color-dark-1;
						text-align: center;
						padding: 0;

						a {
							display: block;
							padding: 1em;
							color: $color-white-2;

							img  {
								width: 1.6em;
								margin-top: -.1em;
								margin-right: .5em;
							}

							&:hover {
								background-color: $color-dark-2;
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
}

#banners {
	display: none;
}