img {
  max-width: 100%; }

.no-padding {
  padding: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }
  @media (max-width: 992px) {
    .no-padding-right {
      padding: 0 !important; } }

.no-padding-left {
  padding-left: 0 !important; }
  @media (max-width: 992px) {
    .no-padding-left {
      padding: 0 !important; } }

.no-padding-right-all {
  padding-right: 0 !important; }

.no-padding-left-all {
  padding-left: 0 !important; }

/*--------------------------------------
	General
---------------------------------------*/
body {
  background-color: #263238; }

/*--------------------------------------
	Top Wrapper
---------------------------------------*/
.top-wrapper {
  background-color: #263238;
  background-image: url(../../images/60-lines.png); }

/*--------------------------------------
	Header
---------------------------------------*/
header {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ebebeb; }
  @media (max-width: 768px) {
    header .top .logo {
      text-align: center; } }
  header .top .logo img {
    width: 13em;
    margin: 1em 0; }
  header .top .search {
    text-align: right; }
    header .top .search label {
      width: 100%;
      padding: 1em 0; }
      header .top .search label input {
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 45px;
        padding-left: 1em;
        border: 1px solid #6f8794;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #bababa; }
      header .top .search label button.btn {
        background-color: #263238;
        height: 45px;
        color: #ebebeb;
        display: block;
        width: 100%;
        border: 1px solid #82a5b2;
        border-left: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */ }
        header .top .search label button.btn:hover {
          background-color: #48626a; }
        header .top .search label button.btn img {
          width: 1.25em;
          margin-right: .5em;
          margin-top: -.1em; }
  header .top .navigation-list nav.navbar {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    min-height: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    header .top .navigation-list nav.navbar .navbar-header {
      background-color: rgba(0, 0, 0, 0.2); }
      @media (max-width: 992px) {
        header .top .navigation-list nav.navbar .navbar-header {
          background-color: #263238; } }
      header .top .navigation-list nav.navbar .navbar-header button {
        margin: 0;
        color: #ebebeb;
        font-weight: 600; }
        header .top .navigation-list nav.navbar .navbar-header button img {
          width: 1.3em;
          margin-top: -.15em;
          margin-right: .5em; }
    @media (max-width: 1450px) {
      header .top .navigation-list nav.navbar .navbar-collapse {
        padding-left: 0 !important; } }
    @media (max-width: 768px) {
      header .top .navigation-list nav.navbar .navbar-collapse {
        padding-right: 0 !important; } }
    header .top .navigation-list nav.navbar ul.nav {
      margin: 1.6em 0; }
      @media (max-width: 1450px) {
        header .top .navigation-list nav.navbar ul.nav {
          float: left !important; } }
      @media (max-width: 768px) {
        header .top .navigation-list nav.navbar ul.nav {
          background-color: #263238;
          float: none !important;
          margin-top: 0;
          margin-bottom: 0; } }
      header .top .navigation-list nav.navbar ul.nav li {
        text-transform: uppercase; }
        header .top .navigation-list nav.navbar ul.nav li a {
          color: rgba(72, 98, 106, 0.8);
          font-weight: 600;
          padding: .3em .7em; }
          header .top .navigation-list nav.navbar ul.nav li a img {
            width: 1.2em;
            margin-top: -.2em;
            margin-right: .5em; }
          @media (max-width: 1450px) {
            header .top .navigation-list nav.navbar ul.nav li a {
              padding: .3em;
              font-size: .9em; } }
          @media (max-width: 992px) {
            header .top .navigation-list nav.navbar ul.nav li a {
              color: #374850; } }
          @media (max-width: 768px) {
            header .top .navigation-list nav.navbar ul.nav li a {
              padding: .7em;
              color: white; } }
          header .top .navigation-list nav.navbar ul.nav li a:hover {
            color: #263238;
            background-color: #ebebeb; }
  header .top .profile-info nav.navbar {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    min-height: auto;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    header .top .profile-info nav.navbar .navbar-header {
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: .5em; }
      header .top .profile-info nav.navbar .navbar-header button {
        margin: 0;
        color: #ebebeb;
        font-weight: 600; }
        header .top .profile-info nav.navbar .navbar-header button img {
          width: 1.3em;
          margin-top: -.15em;
          margin-right: .5em; }
    @media (max-width: 768px) {
      header .top .profile-info nav.navbar .navbar-collapse {
        padding: 0; } }
    header .top .profile-info nav.navbar ul.nav {
      margin: 1.6em 0; }
      @media (max-width: 768px) {
        header .top .profile-info nav.navbar ul.nav {
          background-color: #263238;
          float: none !important;
          margin-top: 0;
          margin-bottom: 0; } }
      header .top .profile-info nav.navbar ul.nav li a {
        color: rgba(72, 98, 106, 0.8);
        font-weight: 600;
        padding: .3em .7em; }
        @media (max-width: 1450px) {
          header .top .profile-info nav.navbar ul.nav li a {
            padding: .3em;
            font-size: .9em; } }
        @media (max-width: 768px) {
          header .top .profile-info nav.navbar ul.nav li a {
            color: #f9f9f9 !important; } }
        @media (max-width: 768px) {
          header .top .profile-info nav.navbar ul.nav li a {
            padding: .7em; } }
        header .top .profile-info nav.navbar ul.nav li a:hover {
          color: white;
          background-color: #48626a; }
        header .top .profile-info nav.navbar ul.nav li a img {
          width: 1.3em;
          margin-right: .4em;
          margin-top: -.2em; }
      header .top .profile-info nav.navbar ul.nav li.dropdown ul.dropdown-menu {
        background-color: #263238; }
        header .top .profile-info nav.navbar ul.nav li.dropdown ul.dropdown-menu li a {
          font-weight: 400;
          padding: .5em 1em; }
          header .top .profile-info nav.navbar ul.nav li.dropdown ul.dropdown-menu li a:hover {
            background-color: #374850; }
      header .top .profile-info nav.navbar ul.nav li.open a {
        background-color: #263238; }

footer {
  background-color: #EBEBEB;
  border-top: 1px solid #cdcdcd;
  padding: 1em; }
  footer ul {
    margin: 1em 0 2em 0;
    padding: 0;
    list-style-type: none;
    text-align: center; }
    footer ul li {
      font-weight: bold;
      display: inline-block; }
      footer ul li a {
        color: #58585a;
        display: block;
        width: 100%;
        margin: 0 .5em; }
        footer ul li a:hover {
          text-decoration: none;
          color: #000; }
  footer .bottom-footer {
    background-color: #f1f1f1;
    padding: 1em 0; }
    footer .bottom-footer p {
      margin: 0;
      text-align: justify;
      font-size: .9em;
      padding: 1em;
      color: #a7a7a7; }
    footer .bottom-footer .credits {
      text-align: center;
      padding: .5em 0; }
      @media (max-width: 1200px) {
        footer .bottom-footer .credits {
          text-align: center; } }
      footer .bottom-footer .credits img {
        max-width: 15em;
        margin: 0 0 .5em 0;
        padding: 0; }
      footer .bottom-footer .credits p {
        text-align: center;
        margin: 0; }

/*--------------------------------------
	Page Get Started Page
---------------------------------------*/
.get-started-page .intro-container h1 {
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 2em 0 1em 0;
  line-height: 1.4em;
  font-size: 2.8em; }
  .get-started-page .intro-container h1 span {
    border-bottom: 4px solid #ff8900; }
.get-started-page .intro-box {
  background-color: #263238;
  margin-bottom: 3em; }
  .get-started-page .intro-box .header {
    padding: 1em;
    border-bottom: 1px solid #48626a; }
    .get-started-page .intro-box .header p {
      font-size: 2em;
      text-align: center;
      color: #ebebeb;
      margin: 0;
      line-height: 1em; }
    .get-started-page .intro-box .header p.sub {
      font-size: 1.3em;
      margin-top: 1em; }
  .get-started-page .intro-box .body {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid #48626a; }
    .get-started-page .intro-box .body p {
      font-size: 1.8em;
      line-height: 1.5em;
      color: #ebebeb;
      font-weight: 300; }
      .get-started-page .intro-box .body p span {
        font-weight: 400; }
  .get-started-page .intro-box .footer {
    padding: 1em;
    text-align: center; }
    .get-started-page .intro-box .footer p {
      font-size: 2em;
      line-height: 1.5em;
      color: #ebebeb;
      font-weight: 600;
      display: inline-block;
      border-bottom: 3px solid #ff8900;
      margin: 0; }
      .get-started-page .intro-box .footer p span {
        font-weight: 400; }
.get-started-page .section {
  padding: 3em 0 3em 0; }
  .get-started-page .section .section-title {
    text-align: center; }
    .get-started-page .section .section-title h2 {
      font-weight: 600;
      font-size: 2.3em;
      margin-bottom: .5em; }
    .get-started-page .section .section-title p.sub {
      font-size: 1.6em;
      margin-top: 0;
      line-height: 1em;
      color: #000; }
.get-started-page .why-promote {
  background-color: white; }
  .get-started-page .why-promote ul.checklist {
    list-style-type: none;
    margin: 0;
    padding: 5em 0; }
    .get-started-page .why-promote ul.checklist li {
      font-size: 1.2em;
      color: #000;
      margin-bottom: .2em; }
      .get-started-page .why-promote ul.checklist li img {
        width: 1.1em;
        margin-top: -.2em;
        margin-right: .5em; }
  .get-started-page .why-promote .report-sample {
    padding: 4em 0;
    text-align: center; }
    .get-started-page .why-promote .report-sample h5 a {
      color: #263238;
      border-bottom: 2px solid #374850; }
      .get-started-page .why-promote .report-sample h5 a:hover {
        text-decoration: none;
        color: #48626a;
        border-bottom: 2px solid #48626a; }
.get-started-page .customers-love {
  background: url(../../images/bg-testimonials.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .get-started-page .customers-love .section-title {
    margin-bottom: 5em; }
    .get-started-page .customers-love .section-title h2 {
      color: white; }
  .get-started-page .customers-love .element {
    margin-bottom: 1em; }
    .get-started-page .customers-love .element blockquote {
      background-color: #fff;
      padding: 2em 1em;
      margin: 0;
      border: none;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      background-clip: padding-box;
      /* stops bg color from leaking outside the border: */
      position: relative; }
      .get-started-page .customers-love .element blockquote img {
        position: absolute;
        bottom: -1.2em;
        right: 1em; }
    .get-started-page .customers-love .element .author {
      text-align: right; }
      .get-started-page .customers-love .element .author h5 {
        text-align: right;
        color: white;
        font-size: 1.3em;
        margin-top: 1em;
        display: inline-block; }
.get-started-page .comprehensive-vehicle-history {
  background-color: #f9f9f9;
  background-image: url(../../images/60-lines.png); }
  .get-started-page .comprehensive-vehicle-history .body {
    background-color: white;
    border: 1px solid #e6e6e6;
    border-bottom: 1px solid #43a92d;
    margin-top: 1em; }
    .get-started-page .comprehensive-vehicle-history .body .top {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1em; }
      .get-started-page .comprehensive-vehicle-history .body .top h4 {
        font-weight: 600;
        font-size: 1.6em;
        display: inline-block;
        border-bottom: 3px solid #43a92d;
        padding-bottom: .2em; }
    .get-started-page .comprehensive-vehicle-history .body .main ul {
      margin: 0;
      padding: 1em;
      list-style-type: none; }
      .get-started-page .comprehensive-vehicle-history .body .main ul li {
        margin-bottom: .8em;
        font-size: 1em; }
        .get-started-page .comprehensive-vehicle-history .body .main ul li img {
          width: 1.4em;
          margin-right: .5em;
          clear: both;
          display: inline-block; }
.get-started-page .sales-funnel .section-title h2 {
  color: white; }
.get-started-page .sales-funnel .section-title p.note {
  font-size: 1.1em;
  margin: 0;
  color: #bababa;
  background-color: #374850;
  display: inline-block;
  padding: .5em;
  border: 1px solid #48626a; }
  .get-started-page .sales-funnel .section-title p.note span {
    color: white; }
  .get-started-page .sales-funnel .section-title p.note a {
    color: white;
    text-decoration: underline; }
.get-started-page .sales-funnel .element {
  text-align: center;
  margin: 5em 0;
  position: relative; }
  @media (max-width: 992px) {
    .get-started-page .sales-funnel .element {
      margin: 2em; } }
  .get-started-page .sales-funnel .element img {
    width: 8em; }
  .get-started-page .sales-funnel .element img.next-step {
    position: absolute;
    right: -3.5em;
    top: 3em;
    width: 5em;
    opacity: .2; }
  .get-started-page .sales-funnel .element img.next-step-small {
    width: 5em;
    margin-top: 1em; }
  .get-started-page .sales-funnel .element h3 {
    color: #f9f9f9;
    font-size: 1.8em; }
  .get-started-page .sales-funnel .element p {
    color: #ebebeb; }
.get-started-page .affiliate-links {
  background-color: #f9f9f9;
  background-image: url(../../images/60-lines.png); }
  .get-started-page .affiliate-links .section-title p.note {
    background-color: rgba(238, 219, 0, 0.2);
    border: 1px solid rgba(238, 219, 0, 0.8);
    padding: 1em;
    font-size: 1.2em;
    color: #000;
    line-height: 1.7em; }
    .get-started-page .affiliate-links .section-title p.note a {
      background-color: #eedb00;
      color: #000;
      padding: .3em; }
  .get-started-page .affiliate-links .body {
    margin-top: 2em;
    text-align: center; }
    @media (max-width: 992px) {
      .get-started-page .affiliate-links .body {
        margin-top: 1em; } }
    .get-started-page .affiliate-links .body .link-element {
      background-color: white;
      padding: .5em;
      border: 1px solid #A4BDF1;
      margin-bottom: 1em;
      position: relative; }
      .get-started-page .affiliate-links .body .link-element h3 {
        font-size: 1.8em; }
      .get-started-page .affiliate-links .body .link-element input {
        display: inline-block;
        background-color: #f3f3f3;
        padding: .5em;
        width: 600px;
        max-width: 100%; }
      .get-started-page .affiliate-links .body .link-element .baloon-content {
        width: 250px;
        background-color: #A4BDF1;
        border: 1px solid rgba(102, 153, 255, 0.8);
        display: inline-block;
        position: absolute;
        top: -2.5em;
        right: 10%;
        font-size: 1em;
        padding: .8em;
        color: #000; }
        .get-started-page .affiliate-links .body .link-element .baloon-content img.down {
          position: absolute;
          bottom: -1em;
          left: .5em; }
      .get-started-page .affiliate-links .body .link-element .baloon-content-small {
        background-color: #A4BDF1;
        border: 1px solid rgba(102, 153, 255, 0.8);
        padding: 1em;
        color: #263238;
        font-weight: 600; }
    .get-started-page .affiliate-links .body .main-affiliate-link {
      background-color: rgba(238, 219, 0, 0.2);
      border: 1px solid #eedb00; }
.get-started-page .affiliate-resources {
  background-color: #263238;
  background-image: url(../../images/60-lines.png); }
  .get-started-page .affiliate-resources .section-title h2 {
    color: white; }
  .get-started-page .affiliate-resources a:hover {
    text-decoration: none; }
  .get-started-page .affiliate-resources .element {
    text-align: center;
    margin: 5em 0;
    padding: 1em;
    position: relative;
    background-color: #f9f9f9;
    -webkit-transition: .15s ease;
    -moz-transition: .15s ease;
    -o-transition: .15s ease;
    transition: .15s ease;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */ }
    @media screen and (min-width: 1200px) {
      .get-started-page .affiliate-resources .element {
        height: 260px; } }
    .get-started-page .affiliate-resources .element img {
      width: 5em; }
    .get-started-page .affiliate-resources .element h3 {
      color: #263238;
      font-size: 1.8em; }
    .get-started-page .affiliate-resources .element p {
      color: #58585a; }
    .get-started-page .affiliate-resources .element:hover {
      background-color: #48626a; }
      .get-started-page .affiliate-resources .element:hover h3 {
        color: #f9f9f9; }
      .get-started-page .affiliate-resources .element:hover p {
        color: #f9f9f9; }

.need-help {
  padding: 3em 0 3em 0;
  background-color: #f9f9f9;
  border-top: 1px solid #374850;
  margin-top: 1em; }
  .need-help .title {
    text-align: center; }
    .need-help .title p {
      color: #58585a;
      font-weight: 600;
      text-transform: uppercase;
      margin: 0.3em 0 0 0;
      font-size: 2em; }
  .need-help .btn-container {
    text-align: left; }
    .need-help .btn-container .btn {
      padding: 1em;
      text-transform: none;
      font-weight: 600;
      display: block;
      width: 100%; }
  .need-help p {
    color: #bababa;
    line-height: 1.3em;
    margin-top: .5em;
    text-align: center;
    margin-top: 1em; }
  .need-help p.long-text {
    color: #263238;
    font-size: 1.2em; }

.page .page-title {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em; }
  .page .page-title h1 {
    color: white;
    font-weight: 600;
    font-size: 2.3em;
    display: inline-block;
    border-bottom: 3px solid #ff8900;
    padding-bottom: .1em; }
.page .top h2 {
  margin-top: 0; }
.page .disclaimer {
  background-color: #374850;
  border: 1px solid #48626a;
  padding: .4em 1em; }
  .page .disclaimer h4 {
    color: #fff;
    font-weight: 600;
    font-size: 1.3em; }

.support-page .disclaimer {
  background-color: #374850;
  border: 1px solid #48626a;
  padding: .4em 1em; }
  .support-page .disclaimer p.span {
    color: #fff;
    font-weight: 600;
    font-size: 1.6em;
    margin-bottom: 0; }
  .support-page .disclaimer p {
    color: #fff;
    font-size: 1.15em; }
    .support-page .disclaimer p a {
      color: #ff8900; }
.support-page form {
  background-color: white;
  padding: 1em;
  margin: 1em 0; }
  .support-page form .form-group label {
    width: 100%; }
    .support-page form .form-group label span {
      text-align: left;
      font-weight: 600; }
    .support-page form .form-group label select {
      width: 100%;
      border: 1px solid #dbdbdb;
      height: 45px;
      padding: .5em; }
    .support-page form .form-group label input {
      width: 100%;
      border: 1px solid #ebebeb;
      background-color: white;
      height: 45px;
      padding: .5em; }
    .support-page form .form-group label textarea {
      width: 100%;
      border: 1px solid #dbdbdb;
      padding: .5em; }
  .support-page form .form-group .btn {
    color: white;
    width: 100%;
    padding: .9em; }

.landing-generator-page .disclaimer {
  margin-bottom: 1em; }
  .landing-generator-page .disclaimer p.code {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1em;
    line-height: 2em;
    font-size: 1.2em !important;
    color: #fff; }
    .landing-generator-page .disclaimer p.code a {
      color: #fff;
      font-weight: 400;
      margin-left: 1em;
      background-color: rgba(255, 255, 255, 0.1);
      padding: 0 .8em;
      font-size: .8em;
      display: inline-block; }
      .landing-generator-page .disclaimer p.code a img {
        width: 1em;
        margin-top: -.30em;
        opacity: .5;
        margin-right: .2em; }
  .landing-generator-page .disclaimer p {
    font-size: 1.1em; }
.landing-generator-page .top {
  background-color: white;
  padding: 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-top: 1.51em; }
  .landing-generator-page .top h2 {
    font-size: 1.6em; }
    .landing-generator-page .top h2 span {
      border-bottom: 2px solid #ff8900; }
  .landing-generator-page .top p {
    font-size: 1.15em; }
.landing-generator-page .form-container {
  background-color: white;
  padding: 1em; }
  .landing-generator-page .form-container .form-group label {
    margin-top: .2em; }
  .landing-generator-page .form-container .form-group span {
    text-align: left;
    font-weight: 600; }
  .landing-generator-page .form-container .form-group select {
    width: 100%;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding: .5em; }
  .landing-generator-page .form-container .form-group input {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
    height: 45px;
    padding: .5em;
    -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
    box-shadow: inset 0 -1px 0 #bfbfbf; }
  .landing-generator-page .form-container .form-group textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: .5em; }
  .landing-generator-page .form-container .form-group .btn {
    color: white;
    width: 100%;
    padding: .9em; }
  .landing-generator-page .form-container .get-link {
    background-color: rgba(255, 240, 170, 0.3);
    border: 1px solid #E5DA72;
    padding: 1em 0; }
    .landing-generator-page .form-container .get-link h4 {
      font-size: 1.3em;
      text-align: right; }
    .landing-generator-page .form-container .get-link input {
      width: 100%;
      border: 1px solid #ebebeb;
      background-color: white;
      height: 45px;
      padding: .5em;
      -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
      box-shadow: inset 0 -1px 0 #bfbfbf;
      margin-bottom: 1em; }
    .landing-generator-page .form-container .get-link .btn img {
      width: 1em;
      opacity: .8; }
.landing-generator-page .get-link {
  background-color: rgba(255, 240, 170, 0.3);
  border: 1px solid #E5DA72;
  padding: 1em 0; }
  .landing-generator-page .get-link p {
    text-align: right !important;
    font-size: 1.3em;
    color: #000; }
.landing-generator-page .all-links .form-group label span span.price {
  border-bottom: 2px solid #ff8900; }
.landing-generator-page .all-links .form-group input {
  background-color: #fff;
  color: #c7254e; }
.landing-generator-page .all-links .form-group a.visit-link {
  padding: .5em 1em;
  background-color: #ebebeb;
  margin-top: .3em;
  display: inline-block; }
  .landing-generator-page .all-links .form-group a.visit-link img {
    width: 1em;
    margin-right: .2em; }

.banner-generator-page .disclaimer {
  margin-bottom: 1em; }
  .banner-generator-page .disclaimer h4.code {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1em; }
    .banner-generator-page .disclaimer h4.code a {
      color: #fff;
      font-weight: 400;
      margin-left: 1em;
      background-color: rgba(255, 255, 255, 0.1);
      padding: .3em .5em;
      font-size: .8em; }
      .banner-generator-page .disclaimer h4.code a img {
        width: 1em;
        margin-top: -.30em;
        opacity: .5;
        margin-right: .2em; }
  .banner-generator-page .disclaimer p {
    font-size: 1.1em; }
.banner-generator-page .top {
  background-color: white;
  padding: 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-top: 1.5em; }
  .banner-generator-page .top h2 {
    font-size: 1.6em; }
    .banner-generator-page .top h2 span {
      border-bottom: 2px solid #ff8900; }
  .banner-generator-page .top p {
    font-size: 1.15em; }
    .banner-generator-page .top p a {
      color: #ff8900; }
.banner-generator-page .form-container {
  background-color: white;
  padding: 1em; }
  .banner-generator-page .form-container .form-group label {
    margin-top: .2em; }
  .banner-generator-page .form-container .form-group span {
    text-align: left;
    font-weight: 600; }
  .banner-generator-page .form-container .form-group select {
    width: 100%;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding: .5em; }
  .banner-generator-page .form-container .form-group input {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
    height: 45px;
    padding: .5em;
    -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
    box-shadow: inset 0 -1px 0 #bfbfbf; }
  .banner-generator-page .form-container .form-group textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: .5em; }
  .banner-generator-page .form-container .form-group .btn {
    color: white;
    width: 100%;
    padding: .9em; }
  .banner-generator-page .form-container .get-link {
    background-color: rgba(255, 240, 170, 0.3);
    border: 1px solid #E5DA72;
    padding: 1em 0; }
    .banner-generator-page .form-container .get-link p {
      text-align: right !important; }
    .banner-generator-page .form-container .get-link input {
      width: 100%;
      border: 1px solid #ebebeb;
      background-color: white;
      height: 45px;
      padding: .5em;
      -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
      box-shadow: inset 0 -1px 0 #bfbfbf;
      margin-bottom: 1em; }
    .banner-generator-page .form-container .get-link .btn {
      width: 100%;
      display: block; }
      .banner-generator-page .form-container .get-link .btn img {
        width: 1em;
        opacity: .8; }
.banner-generator-page .banner-links {
  background-color: white; }
  .banner-generator-page .banner-links .banner-links-element {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #bababa; }
    .banner-generator-page .banner-links .banner-links-element:hover {
      background-color: #f9f9f9; }
    .banner-generator-page .banner-links .banner-links-element ul.details {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .banner-generator-page .banner-links .banner-links-element ul.details li {
        margin: .5em 0; }
        .banner-generator-page .banner-links .banner-links-element ul.details li h3 {
          font-size: 1.3em;
          font-weight: 600;
          margin: 0 0 .65em 0; }
        .banner-generator-page .banner-links .banner-links-element ul.details li span {
          border-bottom: 2px solid #ff8900;
          font-weight: 600; }
    .banner-generator-page .banner-links .banner-links-element .code-rendered {
      text-align: center; }
    .banner-generator-page .banner-links .banner-links-element .code-content .panel-group .panel-heading {
      background: #263238;
      text-align: center;
      padding: 0; }
      .banner-generator-page .banner-links .banner-links-element .code-content .panel-group .panel-heading a {
        display: block;
        padding: 1em;
        color: #f9f9f9; }
        .banner-generator-page .banner-links .banner-links-element .code-content .panel-group .panel-heading a img {
          width: 1.6em;
          margin-top: -.1em;
          margin-right: .5em; }
        .banner-generator-page .banner-links .banner-links-element .code-content .panel-group .panel-heading a:hover {
          background-color: #374850;
          text-decoration: none; }

.searchbox-generator-page .disclaimer {
  margin-bottom: 1em; }
  .searchbox-generator-page .disclaimer h4.code {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding: 1em; }
    .searchbox-generator-page .disclaimer h4.code a {
      color: #fff;
      font-weight: 400;
      margin-left: 1em;
      background-color: rgba(255, 255, 255, 0.1);
      padding: .3em .5em;
      font-size: .8em; }
      .searchbox-generator-page .disclaimer h4.code a img {
        width: 1em;
        margin-top: -.30em;
        opacity: .5;
        margin-right: .2em; }
  .searchbox-generator-page .disclaimer p {
    font-size: 1.1em; }
.searchbox-generator-page .top {
  background-color: white;
  padding: 1em;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  margin-top: 1.5em; }
  .searchbox-generator-page .top h2 {
    font-size: 1.6em; }
    .searchbox-generator-page .top h2 span {
      border-bottom: 2px solid #ff8900; }
  .searchbox-generator-page .top p {
    font-size: 1.15em; }
    .searchbox-generator-page .top p a {
      color: #ff8900; }
.searchbox-generator-page .form-container {
  background-color: white;
  padding: 1em; }
  .searchbox-generator-page .form-container .form-group label {
    margin-top: .2em; }
  .searchbox-generator-page .form-container .form-group span {
    text-align: left;
    font-weight: 600; }
  .searchbox-generator-page .form-container .form-group select {
    width: 100%;
    border: 1px solid #dbdbdb;
    height: 45px;
    padding: .5em; }
  .searchbox-generator-page .form-container .form-group input {
    width: 100%;
    border: 1px solid #ebebeb;
    background-color: white;
    height: 45px;
    padding: .5em;
    -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
    box-shadow: inset 0 -1px 0 #bfbfbf; }
  .searchbox-generator-page .form-container .form-group textarea {
    width: 100%;
    border: 1px solid #dbdbdb;
    padding: .5em; }
  .searchbox-generator-page .form-container .form-group .btn {
    color: white;
    width: 100%;
    padding: .9em; }
  .searchbox-generator-page .form-container .get-link {
    background-color: rgba(255, 240, 170, 0.3);
    border: 1px solid #E5DA72;
    padding: 1em 0; }
    .searchbox-generator-page .form-container .get-link h4 {
      font-size: 1.3em;
      text-align: right; }
    .searchbox-generator-page .form-container .get-link input {
      width: 100%;
      border: 1px solid #ebebeb;
      background-color: white;
      height: 45px;
      padding: .5em;
      -webkit-box-shadow: inset 0 -1px 0 #bfbfbf;
      box-shadow: inset 0 -1px 0 #bfbfbf;
      margin-bottom: 1em; }
    .searchbox-generator-page .form-container .get-link .btn {
      width: 100%;
      display: block; }
      .searchbox-generator-page .form-container .get-link .btn img {
        width: 1em;
        opacity: .8; }
.searchbox-generator-page .searchbox-links {
  background-color: white; }
  .searchbox-generator-page .searchbox-links .banner-links-element {
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #bababa; }
    .searchbox-generator-page .searchbox-links .banner-links-element:hover {
      background-color: #f9f9f9; }
    .searchbox-generator-page .searchbox-links .banner-links-element ul.details {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .searchbox-generator-page .searchbox-links .banner-links-element ul.details li {
        margin: .5em 0; }
        .searchbox-generator-page .searchbox-links .banner-links-element ul.details li h3 {
          font-size: 1.3em;
          font-weight: 600;
          margin: 0 0 .65em 0; }
        .searchbox-generator-page .searchbox-links .banner-links-element ul.details li span {
          border-bottom: 2px solid #ff8900;
          font-weight: 600; }
    .searchbox-generator-page .searchbox-links .banner-links-element .code-rendered {
      text-align: center; }
    .searchbox-generator-page .searchbox-links .banner-links-element .code-content .panel-group .panel-heading {
      background: #263238;
      text-align: center;
      padding: 0; }
      .searchbox-generator-page .searchbox-links .banner-links-element .code-content .panel-group .panel-heading a {
        display: block;
        padding: 1em;
        color: #f9f9f9; }
        .searchbox-generator-page .searchbox-links .banner-links-element .code-content .panel-group .panel-heading a img {
          width: 1.6em;
          margin-top: -.1em;
          margin-right: .5em; }
        .searchbox-generator-page .searchbox-links .banner-links-element .code-content .panel-group .panel-heading a:hover {
          background-color: #374850;
          text-decoration: none; }

#banners {
  display: none; }
